html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Pangolin", cursive;
  background-color: tomato;
  font-size: 1em;
}

.center-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.center-box {
  background-color: blanchedalmond;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"] {
  font-size: 1em;
  padding: 10px;
  margin-left: 0.5em;
  height: 2em;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 40px;
}

@media only screen and (max-device-width: 500px) {
  .center-box {
    width: 100%;
  }
  input[type="number"] {
    font-size: 2em;
    width: 250px;
  }
}
*:focus {
  outline: none !important;
}

.center-text {
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
  margin-bottom: 20px;
}

@media only screen and (max-device-width: 500px) {
  .icon {
    width: 75px;
    height: 75px;
  }
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: tomato;
  color: #fff;
  font-size: 1.2em;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
}

.estimated-points {
  font-size: 2.5em;
}

.overlay {
  display: hidden;
}

.total {
  font-size: 2.5em;
  margin-top: 1em;
}

.note {
  margin-top: auto;
  background-color: #d3d3d3;
  padding: 20px;
  font-size: 1.2em;
}

.coffee {
  border: 0;
  height: 50px;
  width: 160px;
}
